

main {
  background-color: rgb(170, 169, 169);
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
  width: 99.7%;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  width: 100%;
  text-align: center;
}

.inline {
  display: inline-block;
  width: 49%;
}

p {
  padding-left: 5%;
}

ul#a {
  height: 75px;
}
ul#b {
  height: 150px;
}
ul#c , ul#d {
  height: 125px;
}
ul#e , ul#f , ul#g , ul#h {
  height: 250px;
}

footer ul {
  height: 80px;
}


@media only screen and (min-width: 800px) {

  body {
    max-width: 960px;
    margin: auto;
  }

  main {
    width: 100%;
  }

  ul#a {
    height: 100px;
    float: left;
  }
  ul#b {
    height: 600px;
    width: 19%;
    float: left;
  }
  ul#c , ul#d {
    height: 200px;
  }
  ul#e , ul#f , ul#g , ul#h {
    height: 250px;
  }

  div.flex1 {
    display: flex;
    float: left;
    height: 200px;
    width: 80.5%;
  }

  div.flex2 {
    display: flex;
    float: left;
    height: 250px;
    width: 80.7%;
  }

  div.inline {
    display: flex;
    flex-direction: row;
  }

  footer ul {
    height: 150px;
    width: 80.5%;
    display: flex;
    align-items: baseline;
  }
}
